<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, 
      maximum-scale=1, minimum-scale=1, width=device-width,
      height=device-height" />
    <meta name="msapplication-tap-highlight" content="no" />

    <!-- Bundled CSS for release -->
    <link rel="stylesheet" href="bundle.css" />

    <title>My App</title>
  </head>
  <body ng-app="MyApp">

    <div class="bar bar-header bar-dark">
      <h1 class="title">Cordova Angular</h1>
    </div>

    <ion-view>
      <ion-content overflow-scroll="true" class="has-header padding">

      <div ng-controller="Main">
        <div class="list">
          <div class="item item-divider">
            Sample Timer
          </div>
          <div class="item" href="#">
            The time is: {{time}}
          </div>

          <div class="item item-divider">
            Sample Call to Service
          </div>
          <div class="item" href="#">
            <button class="button button-positive" ng-click="login()">
              Login
            </button>
          </div>

          <div class="item item-divider">
            User List
          </div>
          <ul class="item">
            <li ng-repeat="user in users">
              {{ user | formatUserName }}
            </li>
          </ul>

          <div class="item item-divider">
            Random Number
          </div>
          <random-number class="item"></random-number>
        </div>
      </div>

      </ion-content>
    </ion-view>

    <!-- 404 in local development, but is found on device due to build -->
    <script type="text/javascript" src="cordova.js"></script>

    <!-- Bundled JS for release -->
    <script type="text/javascript" src="bundle.js"></script>
  </body>
</html>
